[Unit]
Description=Create scheduled VOID VK queue jobs

[Timer]
OnCalendar=*-*-* 13:30:00 Europe/Moscow
OnCalendar=*-*-* 20:30:00 Europe/Moscow
OnCalendar=Fri,Sat *-*-* 23:30:00 Europe/Moscow
Persistent=true
AccuracySec=1min
Unit=void-vk-producer.service

[Install]
WantedBy=timers.target
